{% macro css() %}
<style>
  form {
  }
  form input,
  form textarea,
  form select {
    background-color: var(--red);
    display: block;
    font: inherit;
    color: #333;
    border: 1px solid #333;
    padding: .5rem .5rem;
    border-radius: .2rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 50rem;
  }
  form textarea {
    min-height: 8rem;
  }

  form small {
    display: block;
    margin-top: -.8rem;
    margin-bottom: 1rem;
    color: #888;
  }
</style>
{% endmacro %}

{% macro select(name, value, options) %}
  <select name="{{ name }}">
    {% for val, label in options %}
    <option value="{{ val }}" {% if value == val %}selected{% endif %}>
      {{ label }}
    </option>
    {% endfor %}
  </select>
{% endmacro %}


{% macro task_form(url, default) %}
  <form method=post action="{{ url }}" id=add-task>
    <label>Nom de la tâche *</label>
    <input name=title placeholder="Nom de la tâche" required value="{{ default.title }}">
    <label>Description de la tâche</label>
    <textarea name=body placeholder="Description de la tâche">{{ default.body }}</textarea>
    <label>Date de début</label>
    {{ default.startDate  | date('system') }}
    <input type=date name=startDate placeholder="Date de début" value="{{ default.startDate | date('system') }}">
    <label>Date de fin</label>
    <input type=date name=endDate placeholder="Date de fin" value="{{ default.endDate | date('system') }}">
    <label>Étiquettes séparées par des virgules. Ex: "zone:jardin, type:entretien, important"</label>
    <input type=text name=tags placeholder="zone:jardin, type:entretien, important" value="{% if default.tags %}{{ default.tags.join(', ') }}{% endif %}">
    <small>L'étiquette "important" est une étiquette particulière qui marque la tâche en rouge.</small>

    <div>
      <input type=submit value="Enregister cette tâche">
    </div>
  </form>
{% endmacro %}
