{% extends "layout.html" %}
{% import "components/form.html" as form %}

{% block body %}
{{ form.css() }}

<section class="block">
  <h1>Authentification</h1>
  <form method=post action=/auth>
    {% if errors -%}
      <ul class=errors>
        {% for error in errors -%}
          <li>{{ error }}</li>
        {%- endfor %}
      </ul>
    {%- endif %}
    <label>Email</label>
    <input type=email name=username required>
    <input type=hidden name=password value=password>

    <input type=submit value="Valider">
  </form>
</section>

{% endblock %}
