{% extends 'layout.html' %}
{% import "components/form.html" as form %}


{% block body %}
<link rel=stylesheet href=/javascripts/fullcalendar/fullcalendar.min.css>
<link rel=stylesheet href=/javascripts/fullcalendar-scheduler/scheduler.min.css>
<link rel=stylesheet href=/javascripts/pikaday/css/pikaday.css>
<script src=/javascripts/jquery.js></script>
<script src=/javascripts/moment.min.js></script>
<script src=/javascripts/fullcalendar/fullcalendar.min.js></script>
<script src=/javascripts/fullcalendar/locale/fr.js></script>
<script src=/javascripts/fullcalendar-scheduler/scheduler.min.js></script>
<script src=/javascripts/pikaday/pikaday.js></script>

<style>
.fc-day-number {
  cursor: pointer;
}
</style>

{{ form.css() }}

<div class=block id=calendar></div>
<script>
function api(url, data) {
  return fetch(`/api${url}`, {
      body: data && JSON.stringify(data),
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json'
      },
      method: data ? 'POST' : 'GET',
      mode: 'cors',
    })
    .then(r => r.json())
    .catch(console.error.bind(console))
}


$('#calendar').fullCalendar({
  header: {
		left: 'prev,next today',
		center: 'title',
		right: 'listNext,month'
	},
	editable: true,
  locale: 'fr',
  events: '/events/list.json',
  resources: '/events/list.json',
  schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
  firstDay: 1,
  defaultView: 'month',
  views: {
    listNext: {
      type: 'listWeek',
      duration: {days: 10},
      start: moment()
    }
  },
  start: $.fullCalendar.moment(),
  dayClick: function (date, jsEvent, view) {
    document.querySelector('[name=startDate]').value = date.format()
    document.location.href = '#add-task'
  },
  eventDrop(event, delta, revertFunc) {
    api(`/task/${event.id}`, {
      id: event.id,
      startDate: event.start.format('YYYY-MM-DD')
    })
  }
})
</script>


{% if currentUser.isAdmin() -%}
<section class=block>
  <h2>Ajouter une tâche</h2>
  {{ form.task_form('/task') }}
</section>
{% endif %}

<script src=/javascripts/app.js></script>
{% endblock %}
