<!DOCTYPE html>
<title>{{ title }}</title>
<link rel=stylesheet href=/stylesheets/style.css>

{% if currentUser -%}
<header class=block>
  <nav class=menu>
    <a href=/>Calendrier</a>
    {% if currentUser.isAdmin() -%}
      <a href=/user>Utilisateurs</a>
    {%- endif %}
  </nav>
  <nav class=notifications>
    <section>
    {% for comment in latestComments %}
      <a href=/task/{{ comment.task._id }}>{{ comment.creationDate|date }} : {{ comment.body }}</a>
    {% endfor %}
    </section>
  </nav>

  <nav class=login>
    <a class=button href=/auth/logout>Quitter</a>
    <small>{{ currentUser.display() }}</small>
  </nav>

  <script>
    document.querySelector('.notifications').addEventListener('click', event => {
      event.target.classList.toggle('visible')
    })
  </script>

</header>
{%- endif %}

<main>
  {% block body %}{% endblock %}
</main>
