{% extends "layout.html" %}
{% import "components/form.html" as form %}

{% block body %}
{{ form.css() }}

<article class=block>

  <h1>{{ task.title }}</h1>

  {{ form.task_form('/task/' + task._id, task) }}
</article>

{% endblock %}
