{% extends "layout.html" %}
{% import "components/form.html" as form %}

{% block body %}
{{ form.css() }}

<article class="main block">
  <div>
    <h1>{{ task.title }}</h1>
    <small>
      {% if task.startDate %}À commencer le <time>{{ task.startDate | date }}</time><br>{% endif %}
      {% if task.endDate %}À terminer le <time>{{ task.endDate | date }}</time><br>{% endif %}
    </small>

    <p>
      {{ task.body | striptags(true) | escape | nl2br | safe }}
    </p>

    {% set tags = task.getTags() %}
    {% if tags.length and tags[0].label %}
    <ul>
      {% for tag in tags %}
      <li class="{{ tag.type }}">{{ tag.label }}</li>
      {% endfor %}
    </ul>
    {% endif %}


    {% if currentUser.isAdmin() -%}
      <nav>
        <a class=button href=/task/{{ task._id }}/edit>Modifier cette tâche</a>
        <a class="button danger" href=/task/{{ task._id }}/delete onclick="return confirm('Supprimer cette tâche?')">Supprimer</a>
      </nav>
    {%- endif %}
  </div>

  <aside>
    {% if task.assignees.length -%}
      <h3>Participants</h3>
      <ol>
      {% for assignee in task.assignees -%}
        <li>{{ assignee.display() }}</li>
      {% endfor %}
      </ol>
    {%- endif %}
    <form method=post action=/task/{{task._id}}/assign>
      {% if not task.isAssignedTo(currentUser) -%}
        <button type=submit name=action value=create>M'ajouter à cette tâche</button>
      {% else %}
        <button type=submit name=action value=delete>Me retirer de cette tâche</button>
      {%- endif %}
    </form>

    <form id=statusChange method=post action=/task/{{task._id}}>
      {{ form.select('status', task.status, {'todo': 'À faire', 'progress': 'En cours', 'done': 'Terminée'}) }}
      <input type=submit value="Modifier le statut" style=visibility:hidden>
      <script>
        const form = document.querySelector('#statusChange')
        form.querySelector('select').onchange = _=>form.submit()</script>
    </form>
  </aside>
</article>

<section class="main block" id=comments>
  {% set comments = task.comments.reverse() %}
  {% if comments.length -%}
  <ul>
    {% for comment in comments -%}
      <li>
        <small>{{ comment.author and comment.author.display() }} ({{ comment.creationDate | date }})</small>
        <p>{{ comment.body }}</p>
      </li>
    {%- endfor %}
  </ul>
  {% else -%}
    <p>Aucun commentaire pour l'instant.</p>
  {%- endif %}
  <aside>
    <form method=post action=/task/{{ task._id }}/comment>
      <textarea placeholder="Ajouter un commentaire" name=body required></textarea>
      <input type=submit value="Ajouter ce commentaire">
    </form>
  </aside>
</section>
{% endblock %}
