{% extends "layout.html" %}
{% import "components/form.html" as form %}

{% block body %}

<section class=block>
  <h3>Modifier le profil de {{ user.display() }}</h3>

  {{ form.css() }}
  <form action=/user/{{ user._id }} method=post>
    <input name=name placeholder="Nom" value="{{ user.name }}">
    <input type=email name=email placeholder="Adresse email" value="{{ user.email }}">
    <input name=roles placeholder="Roles (ex: admin)" value="{{ user.roles.join(', ') }}">
    <textarea name=infos placeholder="Informations complémentaires (Téléphone, compétences, …)">{{ user.infos }}</textarea>

    <input type=submit value="Mettre à jour">
  </form>
  <form method=post action=/user/{{ user._id }}/delete>
    <input type=submit class="button danger" onclick="return confirm('Supprimer cet utilisateur?')" value=Supprimer>
  </form>
</section>

{% endblock %}
