{% extends "layout.html" %}
{% import "components/form.html" as form %}

{% block body %}

<section class="main block">
  <ul>
  {% for user in users %}
    <li><a href=/user/{{ user.id }}>{{ user.display() }}</a></li>
  {% endfor %}
  </ul>

  <aside>
    <h3>Créer un nouvel utilisateur</h3>
    {{ form.css() }}
    <form action=/user method=post>
      <input type=hidden name=id value="">
      <input name=name placeholder="Nom">
      <input name=email placeholder="Adresse email">
      <input name=roles placeholder="Roles (ex: admin)">
      <textarea name=infos placeholder="Informations complémentaires (Téléphone, compétences, …)"></textarea>

      <input type=submit value="Enregistrer">
    </form>
  </aside>
</section>

{% endblock %}
