* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

.block {
  padding: 2rem;
  margin: 2rem;
  background-color: #fff;
  box-shadow: .1rem .1rem .2rem #ddd;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

header nav.menu a {
  display: inline-block;
  padding: 1rem 1rem;
  margin-right: 1rem;
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid #888;
  transition: all .5s;
}
header nav.menu a:hover {
  color: #057;
  border-color: #057;
}

header nav.login {
  justify-self: end;
  align-self: center;
}
header nav.login a.button {
  padding: .3rem 1.5rem;
  margin: 0;
}
header nav.login small {
  display: block;
  text-align: right;
}

h2 {
  margin: 2rem 0 1rem 0;
}

.main {
  display: flex;
}
.main > :first-child {
  flex: 1;
}
.main > aside {
  min-width: 30%;
}

button,
a.button,
form [type=submit] {
  display: inline-block;
  margin-bottom: 1rem;
  padding: .5rem .5rem;
  text-align: center;
  border: 1px solid #333;
  border-radius: .2rem;
  cursor: pointer;
  background-color: #3a87ad;
  text-decoration: none;
  font: inherit;
  width: 100%;
  max-width: 30rem;
  color: #fff;
}

button:hover,
a.button:hover,
form [type=submit]:hover {
  background-color: #279
  border: 1px solid #eee;
}

article nav {
  display: flex;
}
article nav a {
  margin: 1rem 2rem 1rem 0;
}
.button.danger {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: inherit .5rem;
}
.button.danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Fix buttons for calendar */
.fc-state-default.fc-corner-right,
.fc .fc-button-group > * {
  width: auto;
}

.notifications::before {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.notifications {
  position: relative;
  display: inline-block;
  width: 300px;
  padding-top: 1rem;
  background-color: #fff;
  cursor: pointer;
}
.notifications:not(.empty)::before {
  content: '📥';
  font-size: 1.5rem;
}
.notifications section {
  position: absolute;
  display: none;
  background-color: #fff;
  z-index: 9;
  padding: 1rem;
  margin-top: .5rem;
  box-shadow: 1px 1px 5px rgba(188, 188, 188, .8)
}
.notifications.visible section {
  display: inherit;
}

.notifications a {
  display: block;
  padding: .5rem;
  border-bottom: 1px dotted #ccc;
  color: inherit;
}
